<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            <!-- Wheel Information -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_diameter>0.1</wheel_diameter>

            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <!-- Output -->

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>false</publish_wheel_tf>

            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
        </plugin>
    </gazebo>

    <!-- IMU SENSOR 추가 -->
    <gazebo reference="imu_link">
        <sensor type="imu" name="imu_sensor">
            <update_rate>100</update_rate>
            <imu>
                <angular_velocity>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.02</stddev>
                    </noise>
                </angular_velocity>
                <linear_acceleration>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.02</stddev>
                    </noise>
                </linear_acceleration>
            </imu>
            <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
                <ros>
                    <argument>~/out:=imu/data</argument>
                </ros>
                <output_type>sensor_msgs/Imu</output_type>
                <frame_name>imu_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>


</robot>